/*index专有CSS*/
/*版本：201701002.1 */
#top_bar
{
	width:100%;
	height:100%;
	background-color: rgba(255, 255, 255, 0.40)
}

#bar_area
{
	height: 70px;
}

#zhushi
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	font-size: 12px;
}

#baidus
{
	 text-align: center;
	 margin-left: auto;
	 margin-right: auto;
}

#baidusw
{
	margin-top: 10px;
}

#word
{
	font-size: 16px;
	width: 40%;
	max-width: 500px;
	height: 30px;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 3px;
}

#baiduanniu
{
	font-size: 16px;
	width: 100px;
	height: 40px;
}

#URL_table
{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	min-width:900px;
	text-align: center;
}

.kuandu
{
	width: 150px;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.baidux
{
	font-size: 16px;
}

#weather_forecast_area
{
	height: 70px;
	width: 40%;
	min-width: 650px;
	float: left;
}

#weather_forecast
{
	width: 100%;
	height: 60px;
	margin-top: 10px;
	margin-right: auto;
}

#setting_button
{
	height: 30px;
	padding-top: 20px;
}
/* 个性设置区域 */
#setting_panel
{
	position: absolute;
	z-index: 1001;
	overflow: auto;
	top: 0%;
	left: 70%;
	width: 30%;
	min-width: 300px;
	height: 100%;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	text-align: center;
	border-style: solid;
	border-width: 0px;
	background-color: #626262;
	
}

#set_top_area
{
	height:40px;
}

#close_button
{
	float:right;
}

#close_button_piceure
{
	height:30px;
	margin-top:10px;
	margin-right:10px;
	overflow:auto;
}

.black_overlay
{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	opacity: 0.5;
}

#setting_button_area
{
	height: 70px;
	width: 40px;
	float: right;
	text-align: center;
}

.setting_word
{
	color: #000000;
	margin-top: 10px;
	margin-bottom: 10px;
}

.prompt_word
{
	color: #000000;
	font-size: 14px;
	text-align: left;
	text-indent: 2em;
	padding-left: 10px;
	padding-right: 10px;
}

.importantwords
{
	color: #FE4365;
	text-decoration: underline;
}

.out_of_table
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.setting_picture
{
	height: 60px;
	border-color: #FE4365;
}

.picture
{
	width: 120px;
	height: 70px;
	
}

.main_area
{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#lower_area
{
	padding-top: 60px;
}

#URL_area
{
	margin-top: 100px;
	width:100%;
}

#pb
{
	width: 210px;
}

.colorchoose
{
	margin-left: 5px;
	margin-right: 5px;
	height: 30px;
	width:60px;
	border-top-width: 0px;
	border-top-style: solid;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-style: solid;
	border-left-width: 0px;
	border-left-style: solid;
}

.color_picture
{
	margin-left:auto;
	margin-right:auto;
}
