/*index专有CSS*/
/*版本：201700820.1 */
#top_background
{
	height: 70px;
	background-color: rgba(255, 255, 255, 0.40)
}

#main
{
	text-align: center;
}

#zhushi
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 400px;
	width: 400px;
	font-size: 12px;
}

#baidus
{
	 width: 900px;
	 text-align: center;
	 margin-left: auto;
	 margin-right: auto;
}

#baidusw
{
	margin-top: 10px;
}

#word
{
	font-size: 16px;
	width: 500px;
	height: 30px;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 3px;
}

#baiduanniu
{
	font-size: 16px;
	width: 100px;
	height: 38px;
}

#URL_table
{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	text-align: center;
}

.kuandu
{
	width: 150px;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.baidux
{
	font-size: 16px;
}



#weather_forecast_area
{
	height: 70px;
	width: 670px;
	float: left;
}

#weather_forecast
{
	width: 650px;
	height: 60px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: auto;
}

#setting_button
{
	height: 30px;
	padding-top: 20px;
}

#setting_panel
{
	height: 540px;
	width: 300px;
	text-align: center;
	float: right;
	margin-right: 100px;
	margin-top: 100px;

	border-style: solid;
	border-width: 0px;
	border-radius: 15px 15px 15px 15px;
	background-color: rgba(0,0,0,0.5)
}

#setting_button_picture
{
	height: 70px;
	width: 100px;
	float: right;
	text-align: center;
}

.setting_word
{
	color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 10px;
}

.out_table
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.setting_picture
{
	height: 60px;
	border-color: #FE4365;
}

.picture
{
	width: 120px;
	height: 70px;
	
}

.main_area
{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
#top_area
{
	height: 70px;
}
#lower_area
{
	padding-top: 60px;
}
.importantwords
{
	color: #FE4365;
	text-decoration: underline;
}

#prompt_word
{
	color: #FFFFFF;
	text-align: left;
	text-indent: 2em;
	padding-left: 10px;
	padding-right: 10px;
}
#URL_area
{
	margin-top: 100px;
}

#pb
{
	width: 210px;
	margin-top: 10px;
}

.colorchoose
{
	margin-left: 5px;
	margin-right: 5px;
	height: 30px;
	border-top-width: 0px;
	border-top-style: solid;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-style: solid;
	border-left-width: 0px;
	border-left-style: solid;
}

.color_picture
{
	margin-left:auto;
	margin-right:auto;
}