/*共有CSS*/
/*版本：201700820.1 */
body
{
	font-family: "微软雅黑";
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment:fixed;
}

a
{
	color: #000000;
	text-decoration: none;
}