.black_overlay
{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index: 1001;
	opacity: 0.6;
}

#setting_panel
/* 全部设置区域 */
{
	position: absolute;
	z-index: 1001;
	overflow: auto;
	top: 0%;
	left: 70%;
	width: 30%;
	min-width: 410px;
	height: 100%;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	text-align: center;
	border-style: solid;
	border-width: 0px;
	background-color: #C0C0C0;
	
}

#set_top_area
/* 设置区域顶部 */
{
	height:40px;
}

#close_button
/* 顶部的关闭按钮区域 */
{
	float:right;
}

#close_button_piceure
/* 关闭按钮 */
{
	height:30px;
	margin-top:10px;
	margin-right:10px;
	overflow:auto;
}

#set_all
/* 下半部分的区域，包含全部设置项 */
{
	width:95%;
	margin-left: auto;
	margin-right: auto;
}

.setting_title
/* 设置项标题 */
{
	color: #000000;
	margin-top: 10px;
	margin-bottom: 10px;
}

.setting_block
/* 设置项内容 */
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.prompt_word
/* 说明文字 */
{
	color: #000000;
	font-size: 14px;
	text-align: left;
	text-indent: 2em;
	padding-left: 10px;
	padding-right: 10px;
}

.importantwords
/* 重要文字 */
{
	color: #FE4365;
	text-decoration: underline;
}

.color_picture
/* 表格样式 */
{
	width:90%;
	min-width: 380px;
	margin-left:auto;
	margin-right:auto;
}

.picture_table
/* 图片表格 */
{
	width: 50%;
	height: 150px;
}

.setting_picture
/* 图片 */
{
	height: 100px;
	border-color: #FE4365;
}

#input_fav
/* 输入框和确定按钮区域 */
{
    width:95%;
}

#pb
/* 自定义背景地址输入框 */
{
	width: 80%;
}

.colorchoose
/* 颜色选择按钮 */
{
	margin-left: 5px;
	margin-right: 5px;
	height: 30px;
	width:60px;
	border-top-width: 0px;
	border-top-style: solid;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-style: solid;
	border-left-width: 0px;
	border-left-style: solid;
}